.th-logo-text {
    font-weight: 800;
    letter-spacing: 0.08em;
    color: #879F3F;
  }
  

  .footer-link {
    color: #444;
    text-decoration: none;
    }

.footer-link:hover {
        color: #879F3F;        // твојата розева
        text-decoration: underline;
}

 .footer-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background-color: #879F3F;
    transition: width 0.25s ease;
  }

  .footer-link:hover {
    color: #879F3F;
    cursor: pointer;
  }

  .footer-link:hover::after {
    width: 100%;
  }


.footer-icon-link {
    color: #000;
    font-size: 1.1rem;
}
            
.footer-icon-link:hover {
    color: #879F3F;
}



  .brand-logo{
    height: 100px;
    width: auto;         /* keeps proportions */
    object-fit: contain;  /* safe for logos */
    display: block;
  }